.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--secondary-color);
  margin: 10px 0;
}

.title {
  padding: 15px 0;
  font-size: 2rem;
  color: var(--primary-color);
}
