.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 25px 10px;
}

.summaryCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10px 20px 0;
  width: 300px;
}

.episodes {
  width: 700px;
}
